/* TODO Split into individual files */
/* Colours */
/* Grid */
/* Table */
/* Buttons */
/* Headings */
@font-face {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  font-display: swap; }

html,
body,
app {
  height: 100%; }

main {
  margin-top: 4rem; }

.navbar {
  height: 4rem;
  background-color: #fff;
  border-bottom: 1px solid #212529; }

.navbar-brand {
  color: #79B55B; }

.cursor-pointer {
  cursor: pointer; }

/*
 * Forms
 */
.form-control.invalid {
  border-color: #dc3545; }

.form-control.valid {
  border-color: #28a745; }

.validation-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545; }

/*
 * Sidebar
 */
.sidebar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  top: 4rem;
  right: 0;
  bottom: 0px;
  left: -192px;
  width: 192px;
  background: #fff;
  color: #000;
  z-index: 1;
  border-right: 1px solid #212529; }
  .sidebar.expanded {
    left: 0; }
    .sidebar.expanded .sidebar-overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 4rem;
      left: 192px; }

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase; }

.sidebar-content {
  z-index: 1; }

.sidebar .nav-link {
  font-weight: 300;
  color: #333; }

.sidebar .nav-link.active {
  color: #79B55B; }

/* UserMenu */
.user-menu {
  position: relative; }

.user-menu__content {
  display: none;
  max-width: 256px;
  position: fixed;
  right: 2rem;
  background: #fff; }
  .user-menu__content.expanded {
    display: block;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }

/* Loader */
.loader,
.loader:before,
.loader:after {
  background: #79B55B;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em; }

.loader {
  color: #79B55B;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }
  .loader.loader--small {
    font-size: 3px;
    margin: 3px auto; }

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 1.5em; }

/* Table */
.table {
  table-layout: fixed; }
  .table th:first-of-type, .table td:first-of-type {
    padding-left: 1.5rem; }
  .table th:last-of-type, .table td:last-of-type {
    padding-right: 1.5rem; }
  .table thead th {
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.75rem;
    letter-spacing: 1px; }
  .table tr:last-of-type td {
    vertical-align: inherit;
    border-bottom: 1px solid #dee2e6; }

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }

@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }
