# NOTE: Requires **VS2019 16.3** or later

# Code files
[*.cs]


# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1814: Prefer jagged arrays over multidimensional
dotnet_diagnostic.CA1814.severity = none
